

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
}
body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
   
    
}
.navbar-all {
    background-color: transparent;
    position: relative;
    display: flex;
    padding-top: 5px;
    padding-left: 5px;
  
   

 
}
a:link {
    color:#ECC141;
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
    color:#ECC141;
  }

.navbar-brand {
    cursor: pointer;
    max-width: 6cm;
    background-color: transparent;
}
a:hover {
    color: rgb(177, 131, 46);
}
a:active {
    text-decoration: none;
    color:rgb(177, 131, 46)
  }
.nav-link{
    color: #ECC141;
    cursor: pointer;
    background-color: transparent;    
}
.nav-item {
    background-color: transparent;
}
.nav-link {
    margin-right: 1em !important;

    background-color: transparent;
    
}
.nav-link:hover {
    color: rgb(177, 131, 46);
}
.navbar-collapse {
    justify-content: flex-end;
    background-color: transparent;
}
.img-fluid {
    object-fit: cover;
    position: relative;
    width:100%;
    height: 100%;
    opacity: 40%;
    margin-top: 160px;
    
    
   
}
.gallery {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 10px 10px;
    margin: 30px 30px 30px;
    margin-right: 50px;
}

.gallery img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.navbar-toggler{
    width: 47px;
    height: 34px;
    background-color: transparent;
    border: none;
    width: 28px;
    height: 34px;
     }
     .navbar-toggler .line{
        width: 100%;
        float: left;
        height: 2px;
        background-color: #ECC141;
        margin-bottom: 5px;
        }

        
  @media (max-width:600px)
  { .gallery {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
    display:flex;
    flex-direction: column;

    
}
.img-fluid {
    object-fit: cover;
    position: absolute;
    width:100%;
    height: 100%;
    
   
}
.gallery img {
    width: 94%;
}
   
  }






  
  @import url(https://fonts.googleapis.com/css?family=Raleway);
  h2 {
    vertical-align: center;
    text-align: center;
  }
  
  html, body {
    margin: 0;
    height: 100%;
  }
  
  * {
    font-family: "Raleway";
    box-sizing: border-box;
  }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    background: transparent;
    color: #ECC141;
    height: 120px;
    padding: 1em;
  }
  
  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
    cursor:pointer;
 
  }
  
  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #ECC141;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: "";
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: "";
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 700px) {
    .menu-button-container {
      display: flex;
    }
    .menu {
      position: absolute;
      top: 0;
      margin-top: 120px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border: 1px solid #333;
      height: 2.5em;
      padding: 0.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color: #ECC141;
      background-color: transparent;
     
      
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }
  .a:link {
    color:#ECC141;
  }
  .aboutme {
    margin-top: 100px;
    align-items: center;
    color: #d3ac39;
    justify-content: center;
    font-family: Lucida Handwriting ;
    text-align: center;
  }